<app-page-header [breadcrumbs]="[
    {label: 'Home',                 url: '../../'},
    {label: 'Terms And Conditions', url: ''}
]"></app-page-header>

<div class="block">
    <div class="container">
        <div class="document">
            <div class="document__header">
                <h1 class="document__title">{{resp.title}}</h1>
                <div class="document__subtitle">This Agreement was last modified on 27 May 2018.</div>
            </div>
            <div class="document__content typography" [innerHTML]="resp.description">
            
            </div>
        </div>
    </div>
</div>
