<!-- HEADER -->
<header>
    <!-- top Header
    <div id="top-header">
        <div class="container">
            <div class="pull-right">
                <ul class="header-top-links">
                    <li><a href="#">Newsletter</a></li>
                    <li><a href="#">FAQ</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    /top Header -->

    <!-- header -->
    <div id="header">
        <div class="container">
            <div class="pull-left dynamicheader">
                <!-- Logo -->
                <div class="header-logo">
                    <a class="logo" routerLink="/" href="javascript::void(0)">
                        <img src="assets/img/JENIX logo color 600x213.png" alt="">
                    </a>
                    <div class="header-btns mobilemenu">
                    <!-- <li class="nav-toggle">
                            <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                    </li> -->
                    <div class="header-btns-icon mtop15">
                        <a  routerLink="/cart" routerLinkActive="active">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>
                    <li class="header-account dropdown default-dropdown">
                        <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                            <div class="header-btns-icon">
                                <i class="fa fa-user-o"></i>
                            </div>
                            <!-- <strong class="text-uppercase">My Account <i class="fa fa-caret-down"></i></strong> -->
                        </div>
                        
                        <div  *ngIf="isLoggedIn$ | async; else logintag">                        
                            <a (click)="logout();" routerLinkActive="active">Logout</a>
                        </div>
                        <ng-template #logintag>
                            <a  routerLink="/login" routerLinkActive="active">Login</a>
                        </ng-template>

                        <ul class="custom-menu">
                            <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
                            <li><a href="#"><i class="fa fa-heart-o"></i> My Wishlist</a></li>
                            <li><a routerLink="/cart"><i class="fa fa-check"></i> Cart</a></li>
                            <li *ngIf="!isLoggedIn$ | async;"><a routerLink="/login" routerLinkActive="active"><i class="fa fa-unlock-alt"></i> Login</a></li>
                            <li *ngIf="!isLoggedIn$ | async;"><a routerLink="/register" routerLinkActive="active"><i class="fa fa-user-plus"></i> Create An Account</a></li>
                            <li  *ngIf="isLoggedIn$ | async;"><a (click)="logout()"><i class="fa fa-user-plus"></i> Logout</a></li>
                        </ul>
                    </li>
                    </div>
                </div>
                <!-- /Logo -->

                <!-- Search -->
                <div class="header-search">
                    <li class="nav-toggle">
                            <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                    </li>
                    
                    <div class="outer-search">
                        
                        <input (keyup)="searchproduct($event.target.value);" class="input search-input" type="text" placeholder="Search product">
                        <ul *ngIf="this.searchResult">
                            <li *ngFor="let sresult of this.searchResult.data" style="padding: 5px;color: #fff;">
                                <a routerLink="/product/{{sresult.slug}}">{{sresult.title}}</a>
                            </li>
                        </ul>
                        <ng-template #noproduct>
                            <ul>
                                <li style="padding: 10px;color: #fff;">
                                    {{this.searchResult.message}}
                                </li>
                            </ul>
                        </ng-template>
                        <!-- <select class="input search-categories" *ngIf="this.categories">
                            <option *ngFor="let cat of this.categories" value="{{cat.id}}">{{cat.title}}</option>
                        </select> -->
                        <!-- <button class="search-btn"><i class="fa fa-search"></i></button> -->
                    </div>
                </div>
                <!-- /Search -->
            </div>
            <div class="pull-right">
                <ul class="header-btns desktopmenu">
                    <!-- Mobile nav toggle-->
                    <li class="nav-toggle">
                            <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                    </li>

                    <div class="header-btns-icon mtop15">
                        <a  routerLink="/cart" routerLinkActive="active">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>
                    
                    <!-- / Mobile nav toggle -->
                    <!-- Account -->
                    <li class="header-account dropdown default-dropdown">
                        <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                            <div class="header-btns-icon">
                                <i class="fa fa-user-o"></i>
                            </div>
                            <strong class="text-uppercase">My Account <i class="fa fa-caret-down"></i></strong>
                        </div>
                        
                        <div  *ngIf="isLoggedIn$ | async; else logintag">                        
                            <a (click)="logout();" routerLinkActive="active">Logout</a>
                        </div>
                        <ng-template #logintag>
                            <a  routerLink="/login" routerLinkActive="active">Login</a>
                        </ng-template>

                        <ul class="custom-menu">
                            <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
                            <li><a href="#"><i class="fa fa-heart-o"></i> My Wishlist</a></li>
                            <li><a routerLink="/cart"><i class="fa fa-check"></i> Cart</a></li>
                            <li *ngIf="!isLoggedIn$ | async;"><a routerLink="/login" routerLinkActive="active"><i class="fa fa-unlock-alt"></i> Login</a></li>
                            <li *ngIf="!isLoggedIn$ | async;"><a routerLink="/register" routerLinkActive="active"><i class="fa fa-user-plus"></i> Create An Account</a></li>
                            <li  *ngIf="isLoggedIn$ | async;"><a (click)="logout()"><i class="fa fa-user-plus"></i> Logout</a></li>
                        </ul>
                    </li>
                    <!-- /Account -->

                    <!-- Cart -->
                    <!-- <li class="header-cart dropdown default-dropdown"  id="cartdropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <div class="header-btns-icon" routerLink="/cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="qty">{{this.cartItem?.lenght || 0}}</span>
                            </div>
                            <strong class="text-uppercase">My Cart:</strong>
                            <br>
                            <span>₹ {{ getSum('price') }}</span> 
                        </<li class="header-account dropdown default-dropdown">
                        <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                            <div class="header-btns-icon">
                                <i class="fa fa-user-o"></i>
                            </div>
                            <strong class="text-uppercase">My Account <i class="fa fa-caret-down"></i></strong>
                        </div>
                        
                        <div  *ngIf="isLoggedIn$ | async; else logintag">                        
                            <a (click)="logout();" routerLinkActive="active">Logout</a>
                        </div>
                        <ng-template #logintag>
                            <a  routerLink="/login" routerLinkActive="active">Login</a>
                        </ng-template>

                        <ul class="custom-menu">
                            <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
                            <li><a href="#"><i class="fa fa-heart-o"></i> My Wishlist</a></li>
                            <li><a routerLink="/cart"><i class="fa fa-check"></i> Cart</a></li>
                            <li *ngIf="!isLoggedIn$ | async;"><a routerLink="/login" routerLinkActive="active"><i class="fa fa-unlock-alt"></i> Login</a></li>
                            <li *ngIf="!isLoggedIn$ | async;"><a routerLink="/register" routerLinkActive="active"><i class="fa fa-user-plus"></i> Create An Account</a></li>
                            <li  *ngIf="isLoggedIn$ | async;"><a (click)="logout()"><i class="fa fa-user-plus"></i> Logout</a></li>
                        </ul>
                    </li>a>

                        <div class="custom-menu">
                            <div id="shopping-cart">
                                <div class="shopping-cart-list" *ngIf="this.cartItem">
                                    <div class="product product-widget" *ngFor="let item of this.cartItem">
                                        
                                        <div class="product-thumb">
                                            <img src="{{item.link}}{{item.image}}" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-price">${{item.price}} <span class="qty">x1</span></h3>
                                            <h2 class="product-name"><a href="#">{{item.title}}</a></h2>
                                        </div>
                                        <button class="cancel-btn"><i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                                <div class="shopping-cart-btns">
                                    <button class="main-btn" routerLink="/cart">View Cart</button>
                                    <button class="primary-btn" routerLink="/checkout">Checkout <i class="fa fa-arrow-circle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </li> -->
                    <!-- /Cart -->
                    
                    
                </ul>
            </div>
        </div>
        <!-- header -->
    </div>
    <!-- container -->
</header>
<!-- /HEADER --> 