<!-- NAVIGATION -->
<div id="navigation">
    <!-- container -->
    <div class="container">
        <div id="responsive-nav">
            <!-- category nav -->
            <div class="category-nav show-on-click">
                <span class="category-header">Categories <i class="fa fa-list"></i></span>
                <ul class="category-list" *ngIf="this.navigation">

                    <li class="dropdown side-dropdown" *ngFor="let nav of this.navigation.data.categories">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">{{nav.name}} <i class="fa fa-angle-right"></i></a>
                        
                        <div class="custom-menu" *ngIf="nav.products">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-links">
                                        <li><h3 class="list-links-title">Products</h3></li>
                                        <li *ngFor="let cat of nav.products">
                                            <a href="javascript::void(0)" routerLink="/product/{{cat.slug}}">{{cat.title}}</a>
                                        </li>
                                    </ul>
                                    <hr class="hidden-md hidden-lg">
                                </div>
                                
                            </div>
                        </div>

                    </li>
                    <li><a href="javascript::void(0)" routerLink="/shop">View All</a></li>
                </ul>
            </div>
            <!-- /category nav -->

            <!-- menu nav -->
            <div class="menu-nav">
                <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                <ul class="menu-list">
                        
                    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                    <li><a routerLink="/pages/about-us" routerLinkActive="active">About Us</a></li>
                    <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
                </ul>
            </div>
            <!-- menu nav -->
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /NAVIGATION -->