<!-- NAVIGATION -->
<div id="navigation">

<nav class="w3-sidenav w3-white w3-animate-left" style="top:0px;display:none;z-index:999999">
        <div class="menu-nav">
            <a href="javascript:void(0)" onclick="w3_close()" 
                class="w3-closenav w3-large">Close &times;</a>            
            <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                <ul class="menu-list">
                <li><a routerLink="/" class="w3-closenav" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/pages/about-us" class="w3-closenav" routerLinkActive="active">About Us</a></li>
                <li><a routerLink="/shop" class="w3-closenav" routerLinkActive="active">Shop</a></li>
                <li><a routerLink="/cart" class="w3-closenav" routerLinkActive="active">Cart</a></li>
                <li *ngIf="isLoggedIn$ | async; else logintag">
                    <a (click)="logout();" routerLink="" routerLinkActive="active">Logout</a>
                </li>
                <ng-template #logintag>
                    <li><a routerLink="/login" class="w3-closenav" routerLinkActive="active">Login</a></li>
                </ng-template>
            </ul>
        </div>
        <!-- <a href="tryit.asp-filename=tryw3css_sidenav_overlay.html#">Link 1</a>		
        <a href="tryit.asp-filename=tryw3css_sidenav_overlay.html#">Link 2</a>		
        <a href="tryit.asp-filename=tryw3css_sidenav_overlay.html#">Link 3</a>		
        <a href="tryit.asp-filename=tryw3css_sidenav_overlay.html#">Link 4</a>		
        <a href="tryit.asp-filename=tryw3css_sidenav_overlay.html#">Link 5</a>		 -->
      </nav>
      
      <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer">
      </div>      
    <!-- container -->
    <div class="container">
        <div id="responsive-nav">
            <!-- category nav show-on-click -->
            <div class="category-nav {{classheader}}">
                <span class="category-header">Categories <i class="fa fa-list"></i></span>
                <ul [ngClass]="(step=='step')?'category-list open':'category-list'" *ngIf="this.navigation">

                    <li class="dropdown side-dropdown" *ngFor="let nav of this.navigation.data">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">{{nav.label}} <i class="fa fa-angle-right"></i></a>
                        
                        <div class="custom-menu" *ngIf="nav.menu.items">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-links">
                                        <li class="section-title">
                                            <h3 class="list-links-title">Products</h3>
                                        </li>
                                        <li class="submenu" *ngFor="let cat of nav.menu.items">
                                            <a routerLink="/{{cat.purl}}">{{cat.label}}</a>
                                        </li>
                                    </ul>
                                    <hr class="hidden-md hidden-lg">
                                </div>
                                
                            </div>
                        </div>

                    </li>
                    <li><a href="javascript::void(0)" routerLink="/shop">View All</a></li>
                </ul>
            </div>
            <!-- /category nav -->

            <!-- menu nav -->
            <div class="menu-nav">
                <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                <ul class="menu-list">
                        
                    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                    <li><a routerLink="/pages/about-us" routerLinkActive="active">About Us</a></li>
                    <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
                    <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
                    <li *ngIf="isLoggedIn$ | async; else logintag">
                        <a (click)="logout();" routerLink="" routerLinkActive="active">Logout</a>
                    </li>
                    <ng-template #logintag>
                        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
                    </ng-template>
                </ul>
            </div>
            <!-- menu nav -->
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /NAVIGATION -->