<div class="row">
        <div class="col-md-12">
            <div class="order-summary clearfix">
                <div class="section-title">
                    <h3 class="title">My Cart</h3>
                </div>
                <table *ngIf="this.cartItem?.length > 0; else notfound" class="shopping-cart-table table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th></th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Total</th>
                            <th class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of this.cartItem">
                            <td class="thumb"><img src="{{item.link}}{{item.image}}" alt=""></td>
                            <td class="details">
                                <a href="#">{{item.title}}</a>
                                <!-- <ul>
                                    <li><span>Size: XL</span></li>
                                    <li><span>Color: Camelot</span></li>
                                </ul> -->
                            </td>
                            <td class="price text-center"><strong>₹ {{item.price}}</strong></td>
                            <td class="qty text-center">{{item.qty}}</td>
                            <td class="total text-center"><strong class="primary-color">₹ {{item.price*item.qty}}</strong></td>
                            <td class="text-right"><button class="main-btn icon-btn" (click)="removeitem(item.id)"><i class="fa fa-close"></i></button></td>
                        </tr>
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="empty" colspan="3"></th>
                            <th>SUBTOTAL</th>
                            <th colspan="2" class="sub-total">₹ {{ getSum('price','qty') }}</th>
                        </tr>
                        <!-- <tr>
                            <th class="empty" colspan="3"></th>
                            <th>SHIPING</th>
                            <td colspan="2">Free Shipping</td>
                        </tr> -->
                        <tr>
                            <th class="empty" colspan="3"></th>
                            <th>TOTAL</th>
                            <th colspan="2" class="total">₹ {{ getSum('price','qty') }}</th>
                        </tr>
                    </tfoot>
                </table>
                <ng-template #notfound>
                        <div class="col-12-12">
                            <div class="_20my3-" style="text-align:center;">
                                <img src="assets/img/empty-cart.png" class="w50">
                                <div class="">Add items to it now.</div>
                                <button class="primary-btn"><span routerLink="/shop">Shop now</span></button>
                            </div>
                        </div>
                </ng-template>
                
                <div class="pull-right" *ngIf="this.cartItem?.length > 0">
                    <button class="primary-btn" routerLink="/checkout">Checkout Order</button>
                </div>
            </div>
        
        </div>
</div>