<!-- BREADCRUMB -->
<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Shop</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- ASIDE -->
				<div id="aside" class="col-md-3">
					
					<!-- aside widget -->
					<div class="aside">
						<h3 class="aside-title">Filter by Categories</h3>
						<ul class="list-links">
							<li *ngFor="let cat of this.categories">
								<a href="javascript::void(0)" routerLink="/shop/{{cat.slug}}">{{cat.title}}</a>
							</li>
						</ul>
					</div>
					<!-- /aside widget -->

					<!-- aside widget -->
					<div class="aside toprated" *ngIf="this.products">
						<h3 class="aside-title">Top Rated Product</h3>

						<!-- widget product -->
						<div class="product product-widget" *ngFor="let toprated of this.products.data.mostsell">
							<div class="product-thumb">
								<img src="{{this.products.data.timthumb}}{{this.products.data.link}}{{toprated.image}}&w=50&h=50&a=t&q=100" alt="">
							</div>
							<div class="product-body">
								<h2 class="product-name"><a href="#">{{toprated.title}}</a></h2>
								<h3 class="product-price">₹{{toprated.price}}</h3>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o empty"></i>
								</div>
							</div>
						</div>
						<!-- /widget product -->

					</div>
					<!-- /aside widget -->
				</div>
				<!-- /ASIDE -->

				<!-- MAIN -->
				<div id="main" class="col-md-9">
					<!-- store top filter -->
					<div class="store-filter clearfix">
						<div class="pull-left">
							<div class="row-filter">
								<a href="#"><i class="fa fa-th-large"></i></a>
								<a href="#" class="active"><i class="fa fa-bars"></i></a>
							</div>
							<div class="sort-filter">
								<span class="text-uppercase">Sort By:</span>
								<select class="input">
										<option value="0">Price</option>
										<option value="0">Rating</option>
									</select>
								<a href="#" class="main-btn icon-btn"><i class="fa fa-arrow-down"></i></a>
							</div>
						</div>
						<div class="pull-right">
							<div class="page-filter">
								<span class="text-uppercase">Show:</span>
								<select class="input">
										<option value="0">10</option>
										<option value="1">20</option>
										<option value="2">30</option>
									</select>
							</div>
							<ul class="store-pages">
								<li><span class="text-uppercase">Page:</span></li>
								<li class="active">1</li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#"><i class="fa fa-caret-right"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- /store top filter -->

					<!-- STORE -->
					<div id="store" *ngIf="this.products; else pageload">
						<!-- row -->
						<div *ngIf="this.products.status; else notfound" class="row">

							<!-- Product Single -->
							<div class="col-md-4 col-sm-6 col-xs-6"  *ngFor="let product of this.products.data.products">
								<div class="product product-single">
									<div class="product-thumb">
										<button class="main-btn quick-view" routerLink="/product/{{product.slug}}">
											<i class="fa fa-search-plus"></i> Quick view
										</button>
										<img src="{{this.products.data.timthumb}}{{this.products.data.link}}{{product.image}}&w=350&h=350&a=t&q=100" alt="">
									</div>
									<div class="product-body">
										<h3 class="product-price">${{product.price}}</h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h2 class="product-name" routerLink="/product/{{product.slug}}"><a href="#">{{product.title}}</a></h2>
										<div class="product-btns">
											<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
											<button class="primary-btn enqury-now"
												*ngIf="product.enquirystatus; else addcart"
												data-toggle="modal"
												data-id="{{product.id}}"
												data-target="#enquiry"
												(click)="openModel(product.id)">
												<i class="fa fa-ioxhost"></i> Enquiry Now
											</button>
											<ng-template #addcart>
												<button class="primary-btn add-to-cart">
													<i class="fa fa-shopping-cart"></i> Add to Cart
												</button>
											</ng-template>
											
										</div>
									</div>
								</div>
							</div>
							<!-- /Product Single -->
							
						</div>
						<!-- /row -->
						<ng-template #notfound>
								{{this.products.message}}
						</ng-template>
					</div>
					<!-- /STORE -->
					<ng-template #pageload>
							<div class="contentLoader">
									<div class="animated-background" style="height: 150px;"> </div>
									<div class="animated-backgroundlarge firstRow" style="height: 10px; margin-bottom: 10px;"> </div>
									<div class="animated-backgroundlarge secondRow" style="height: 10px; width: 80%; margin-bottom: 10px;"> </div>
									<div class="animated-backgroundlarge secondRow" style="height: 10px; width: 70%;"> </div>
							</div>
					</ng-template>
				</div>
				<!-- /MAIN -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- Enquiry form here -->
<div class="modal" tabindex="-1" role="dialog" id="enquiry">
		<div class="modal-dialog modal-sm" role="document">
		  <div class="modal-content flex-grow-1">
			<div class="modal-header">
			  <h3 class="modal-title">Enquiry Form!</h3>
			</div>
			<div class="modal-body">
			  <form [formGroup]="enquiryForm"  (ngSubmit)="onSubmit()">
				  <input type="hidden" formControlName="product_id" name="product_id" id="product_id">
				<div class="form-group">
					<input type="text" id="first_name" formControlName="first_name" class="form-control" name="first_name" placeholder="first name">
				</div>
				<div class="form-group">
					<input type="text" id="mobile" formControlName="mobile" class="form-control" name="mobile" placeholder="Mobile">
				</div>
				<div class="form-group">
						<input type="text" id="login" formControlName="email" class="form-control" name="login" placeholder="Email">
				</div>
				<div class="form-group">
					<textarea class="form-control" name="message" formControlName="message" ></textarea>
				</div>    
				<input type="submit" [disabled]="!enquiryForm.valid" class="btn btn-primary" value="Signup">
			  </form>
			</div>
			<div class="modal-footer">
			  <button
				type="button"
				data-dismiss="modal"
				class="mx-auto btn btn-secondary"
			  >
				Close
			  </button>
			</div>
		  </div>
		</div>
	  </div>