<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a routerLink="/">Home</a></li>
            <li class="active" *ngIf="this.result">{{this.result.title}}</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row" *ngIf="this.result; else pageload">
            <div class="col-sm-12">
                <p  [innerHTML]="this.result.description"></p>
            </div>                       
        </div>
        <ng-template #pageload>
            <div class="contentLoader">
                    <div class="animated-background" style="height: 150px;"> </div>
                    <div class="animated-backgroundlarge firstRow" style="height: 10px; margin-bottom: 10px;"> </div>
                    <div class="animated-backgroundlarge secondRow" style="height: 10px; width: 80%; margin-bottom: 10px;"> </div>
                    <div class="animated-backgroundlarge secondRow" style="height: 10px; width: 70%;"> </div>
            </div>
        </ng-template>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->