
<!-- HOME -->
<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick" *ngIf="this.profile; else bannerloader">
                <!-- banner -->
                <div class="banner banner-1" *ngFor="let banner of this.profile.banner_images">
                        <img src="{{banner.image_classic}}" alt="">
                </div>
                <!-- /banner -->
            </div>
            <ng-template #bannerloader>
                <div class="contentLoader">
                        <div class="animated-background" style="height: 150px;"> </div>
                        <div class="animated-backgroundlarge firstRow" style="height: 10px; margin-bottom: 10px;"> </div>
                        <div class="animated-backgroundlarge secondRow" style="height: 10px; width: 80%; margin-bottom: 10px;"> </div>
                        <div class="animated-backgroundlarge secondRow" style="height: 10px; width: 70%;"> </div>
                </div>
            </ng-template>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</div>
<!-- /HOME -->
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row"  *ngIf="this.profile; else loadBest">
            <!-- section-title -->
            <div class="col-md-12">                    
                <div class="section-title">
                    <h2 class="title">Best Selling products</h2>
                    <div class="pull-right">
                        <div class="product-slick-dots-1 custom-dots"></div>
                    </div>
                </div>
            </div>
            <!-- /section-title -->
            
            <!-- Product Slick -->
            <div class="col-md-12 col-sm-6 col-xs-6">                    
                <div class="row">
                    <div id="product-slick-2" *ngIf="this.profile.products">
                        <!-- Product Single -->
                        <div class="product product-single" *ngFor="let product of this.profile.products">
                            <div class="product-thumb">
                                <button class="main-btn quick-view" routerLink="/product/{{product.slug}}"><i class="fa fa-search-plus"></i> Quick view</button>
                                <img src="{{this.profile.timthumb_path}}{{this.profile.product_path}}{{product.image}}&w=350&h=250" alt="">
                            </div>
                            <div class="product-body">
                                <h3  class="product-price" *ngIf="product.enquirystatus; else showprice">
                                    ₹ --
                                </h3>
                                <ng-template #showprice>
                                    <h3 class="product-price">
                                        ₹{{product.price}}
                                    </h3>
                                </ng-template>
                                
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a href="#">{{product.title}}</a></h2>
                                <div class="product-btns">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    <button class="primary-btn enqury-now"
                                        *ngIf="product.enquirystatus; else addcart"
                                        data-toggle="modal"
                                        data-id="{{product.id}}"
                                        data-target="#enquiry"
                                        (click)="openModel(product.id)">
                                        <i class="fa fa-ioxhost"></i> Enquiry Now
                                    </button>
                                    <ng-template #addcart>
                                            <button class="primary-btn add-to-cart" (click)="addtocart(product)">
                                                <i class="fa fa-shopping-cart"></i> {{this.name}}
                                            </button>
                                    </ng-template>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- /Product Single -->
                    </div>
                </div>
            </div>
            
            <!-- /Product Slick -->
        </div>
        <!-- /row -->
        <ng-template #loadBest>
            <div class="contentLoader">
                    <div class="animated-background" style="height: 150px;"> </div>
                    <div class="animated-backgroundlarge firstRow" style="height: 10px; margin-bottom: 10px;"> </div>
                    <div class="animated-backgroundlarge secondRow" style="height: 10px; width: 80%; margin-bottom: 10px;"> </div>
                    <div class="animated-backgroundlarge secondRow" style="height: 10px; width: 70%;"> </div>
            </div>
        </ng-template>
    </div>
    <!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row"   *ngIf="this.profile; else loadLatest">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Latest Products</h2>
                </div>
            </div>
            <!-- section title -->
            <!-- Product Single -->
            <div class="row row-eq-height grid">
                <div class="col-md-3 col-sm-6 col-xs-6 product-title" *ngFor="let lproduct of this.profile.latest_products">
                    <div class="product product-single">
                        <div class="product-thumb">
                            <button class="main-btn quick-view" routerLink="/product/{{lproduct.slug}}"><i class="fa fa-search-plus"></i> Quick view</button>
                            <img src="{{this.profile.timthumb_path}}{{this.profile.product_path}}{{lproduct.image}}&w=350&h=350&a=t&q=100" alt="">
                        </div>
                        <div class="product-body">
                            <h3  *ngIf="!lproduct.enquirystatus; else pricetemplate" class="product-price">₹ {{lproduct.price}}</h3>
                            <ng-template #pricetemplate>
                                <h3 class="product-price"> ₹ --</h3>
                            </ng-template>
                            <h2 class="product-name"><a href="javascript:void(0)">{{lproduct.title}}</a></h2>
                            <div class="product-btns">
                                <!-- <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button> -->
                                <button class="primary-btn enqury-now"
                                    *ngIf="lproduct.enquirystatus; else addcart"
                                    data-toggle="modal"
                                    data-id="{{lproduct.id}}"
                                    data-target="#enquiry"
                                    (click)="openModel(lproduct.id)">
                                    <i class="fa fa-ioxhost"></i> Enquiry Now
                                </button>
                                <ng-template #addcart>
                                    <button class="primary-btn add-to-cart" (click)="addtocart(lproduct)">
                                            <i class="fa fa-shopping-cart"></i> {{this.name}}
                                    </button>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
            <!-- /Product Single -->

        </div>
        <!-- /row -->
        <ng-template #loadLatest>
            <div class="contentLoader">
                    <div class="animated-background" style="height: 150px;"> </div>
                    <div class="animated-backgroundlarge firstRow" style="height: 10px; margin-bottom: 10px;"> </div>
                    <div class="animated-backgroundlarge secondRow" style="height: 10px; width: 80%; margin-bottom: 10px;"> </div>
                    <div class="animated-backgroundlarge secondRow" style="height: 10px; width: 70%;"> </div>
            </div>
        </ng-template>

        <!-- row -->
        <div class="row grid"  *ngIf="this.profile; else Pickedyou">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Feature Products</h2>
                </div>
            </div>
            <!-- section title -->

            <!-- Product Single -->
            <div class="col-md-3 col-sm-6 col-xs-6" *ngFor="let lproduct of this.profile.feature_products">
                <div class="product product-single">
                    <div class="product-thumb">
                        <button class="main-btn quick-view" routerLink="/product/{{lproduct.slug}}"><i class="fa fa-search-plus"></i> Quick view</button>
                        <img src="{{this.profile.timthumb_path}}{{this.profile.product_path}}{{lproduct.image}}&w=350&h=350&a=t&q=100" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price" *ngIf="!lproduct.enquirystatus; else pricetemplate"> ₹ {{lproduct.price}}</h3>
                        <ng-template #pricetemplate>
                            <h3 class="product-price"> ₹ --</h3>
                        </ng-template>
                        <h2 class="product-name"><a href="#">{{lproduct.title}}</a></h2>
                        <div class="product-btns">
                            <button class="primary-btn enqury-now"
                                *ngIf="lproduct.enquirystatus; else addcart"
                                data-toggle="modal"
                                data-id="{{lproduct.id}}"
                                data-target="#enquiry"
                                (click)="openModel(lproduct.id)">
                                <i class="fa fa-ioxhost"></i> Enquiry Now
                            </button>
                            <ng-template #addcart>
                                <button class="primary-btn add-to-cart" (click)="addtocart(lproduct)">
                                    <i class="fa fa-shopping-cart" *ngIf="this.name;"></i> {{this.name}}
                                </button>
                            </ng-template>                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Product Single -->
        </div>
        <!-- /row -->

        <ng-template #Pickedyou>
                <div class="contentLoader">
                        <div class="animated-background" style="height: 150px;"> </div>
                        <div class="animated-backgroundlarge firstRow" style="height: 10px; margin-bottom: 10px;"> </div>
                        <div class="animated-backgroundlarge secondRow" style="height: 10px; width: 80%; margin-bottom: 10px;"> </div>
                        <div class="animated-backgroundlarge secondRow" style="height: 10px; width: 70%;"> </div>
                </div>
        </ng-template>

    </div>
    <!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row"  *ngIf="this.profile; else loadBest">
                <!-- section-title -->
                <div class="col-md-12">                    
                    <div class="section-title">
                        <h2 class="title">Latest News</h2>
                        <div class="pull-right">
                            <div class="product-slick-dots-1 custom-dots"></div>
                        </div>
                    </div>
                </div>
                <!-- /section-title -->
                
                <!-- Product Slick -->
                <div class="col-md-12 col-sm-6 col-xs-6">                    
                    <div class="row">
                        <div id="product-slick-1" class="product-slick-news">
                            <!-- Product Single -->
                            <div class="product product-single" *ngFor="let news of this.profile.news">
                                <div class="product-thumb">
                                    <button class="main-btn quick-view" routerLink="/news/{{news.slug}}"><i class="fa fa-search-plus"></i> Quick view</button>
                                    <img src="{{news.image}}" alt="">
                                </div>
                                <div class="product-body">
                                    <h2 class="product-name"><a href="#">{{news.title}}</a></h2>
                                </div>
                            </div>
                            <!-- /Product Single -->
                        </div>
                    </div>
                </div>
                
                <!-- /Product Slick -->
            </div>
            <!-- /row -->
            <ng-template #loadBest>
                <div class="contentLoader">
                        <div class="animated-background" style="height: 150px;"> </div>
                        <div class="animated-backgroundlarge firstRow" style="height: 10px; margin-bottom: 10px;"> </div>
                        <div class="animated-backgroundlarge secondRow" style="height: 10px; width: 80%; margin-bottom: 10px;"> </div>
                        <div class="animated-backgroundlarge secondRow" style="height: 10px; width: 70%;"> </div>
                </div>
            </ng-template>
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

<!-- Enquiry form here -->
<div class="modal" tabindex="-1" role="dialog" id="enquiry">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content flex-grow-1">
        <div class="modal-header">
          <h3 class="modal-title"><img src="assets/img/updated-logo.png" style="width:250px;"/></h3>
        </div>
        <div class="modal-body">
            <span class="details">Please provide us details:</span>
          <form [formGroup]="enquiryForm"  (ngSubmit)="onSubmit()">
              <input type="hidden" formControlName="product_id" name="product_id" id="product_id">
            <div class="form-group">
                <input type="text" id="first_name" formControlName="first_name" class="form-control" name="first_name" placeholder="first name">
            </div>
            <div class="form-group">
                <input type="text" id="mobile" formControlName="mobile" class="form-control" name="mobile" placeholder="Mobile">
            </div>
            <div class="form-group">
                    <input type="text" id="login" formControlName="email" class="form-control" name="login" placeholder="Email">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="message" placeholder="Tell us about the product quantity" formControlName="message" ></textarea>
            </div>    
            <input type="submit" [disabled]="!enquiryForm.valid" class="btn btn-primary" value="Submit">
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            data-dismiss="modal"
            class="mx-auto btn btn-secondary"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>