<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <form id="checkout-form" [formGroup]="checkoutForm" class="clearfix">
                <div class="col-md-12">
                    <div class="billing-details">
                        <p>Already a customer ? <a routerLink='/login'>Login</a></p>
                        <div class="section-title">
                            <h3 class="title">Billing Details</h3>
                            <p>Red border field should be maindatory.</p>
                        </div>
                        <div class="form-group">
                            <input class="input" formControlName="first_name" [ngClass]="{
                                'has-danger': checkoutForm.controls.first_name.invalid,
                                'has-success': checkoutForm.controls.first_name.valid
                              }" type="text" name="first-name" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input class="input" formControlName="last_name" type="text" name="last-name" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input class="input" formControlName="email" [ngClass]="{
                                'has-danger': checkoutForm.controls.email.invalid,
                                'has-success': checkoutForm.controls.email.valid
                              }" type="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input class="input" formControlName="address" type="text" name="address" placeholder="Address">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="city" placeholder="City">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="country" placeholder="Country">
                        </div>
                        <div class="form-group">
                            <input class="input" formControlName="zip_code" type="text" name="zip-code" placeholder="ZIP Code">
                        </div>
                        <div class="form-group">
                            <input class="input" formControlName="mobile" type="tel" name="tel" placeholder="Telephone">
                        </div>
                        <div class="form-group">
                            <div class="input-checkbox">
                                <input type="checkbox" id="register">
                                <label class="font-weak" for="register">Create Account?</label>
                                <div class="caption">
                                    <input class="input" type="password" name="password" placeholder="Enter Your Password">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="order-summary clearfix">
                        ₹ {{ getSum('price','qty') }}
                        <div class="pull-right">
                            <button class="primary-btn" (click)="pay(getSum('price','qty'));">Place Order</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <!-- /row -->
    </div>
    <div id="paymentrazor">

    </div>
    
    <!-- /container -->
</div>
<!-- /section -->