<!-- FOOTER -->
<footer id="footer" class="section section-grey">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a class="logo" href="#">
                            <img src="assets/img/logo.png" alt="" style="width:65%;">
                        </a>
                    </div>
                    <!-- /footer logo -->

                    <!-- footer social -->
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                    <!-- /footer social -->
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">My Menu</h3>
                    <ul class="list-links">
                        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                        <li><a routerLink="/pages/about-us" routerLinkActive="active">About Us</a></li>
                        <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
                        <li><a routerLink="/news" routerLinkActive="active">News</a></li>
                        <div  *ngIf="isLoggedIn$ | async; else logintag">
                            <li><a (click)="logout();" href="javascript::void(0)">Logout</a></li>    
                        </div>
                        <ng-template #logintag>
                            <li><a routerLink="/login" href="#">Login</a></li>
                        </ng-template>
                        
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <div class="clearfix visible-sm visible-xs"></div>

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Customer Service</h3>
                    <ul class="list-links">
                        <li><a routerLink="/pages/about-us" routerLinkActive="active">About us</a></li>
                        <li><a routerLink="/pages/why-us" routerLinkActive="active">Why Us?</a></li>
                        <li><a routerLink="/pages/product-range" routerLinkActive="active">Our Product Range</a></li>
                        <li><a routerLink="/pages/industry-caters" routerLinkActive="active">Industry Caters To</a></li>
                        <li><a routerLink="/pages/terms-conditions" routerLinkActive="active">Terms Conditions</a></li>
                        
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer subscribe -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Stay Connected</h3>
                    <p>Please subscribe your email for our Newslatter.</p>
                    <form>
                        <div class="form-group">
                            <input class="input" placeholder="Enter Email Address">
                        </div>
                        <button class="primary-btn">Join Newslatter</button>
                    </form>
                </div>
            </div>
            <!-- /footer subscribe -->
        </div>

        <!-- /row -->
    </div>
    <!-- /container -->
</footer>
<!-- /FOOTER -->